/** @format */

.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
	border: 1px solid #ddd;
	border-radius: 20px;
	padding: 8px 15px;
	margin-top: 30px;
	text-decoration: none;
	transition: all 150ms ease-in-out;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
}
.Phonetic a:hover {
	background: #9670f4;
	color: white;
}
.Phonetic .text {
	opacity: 0.5;
	font-weight: bold;
}
